@charset "UTF-8";
/* Importo fuentes de G Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
/* Importo reglas generales */
/* ALGUNAS REGLAS GENERALES */
/* Mapas */
/* Reset margin y padding */
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #facd49;
  border-radius: 0.3em;
  border-right: 2px solid white;
}

/* Refuerzo especifidad por BS */
a {
  text-decoration: none;
}

/* "Aire" vertical */
main {
  margin: 6em 0;
}

/* Clase para centrar cosas */
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

/* Formato de Titulos */
h1,
h2 {
  font-weight: 400;
  font-size: 40px;
  text-transform: lowercase;
  margin-bottom: 10px;
}

/* Formato de títulos */
main div.title-misc {
  margin-bottom: 3em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media only screen and (max-width: 480px) {
  main div.title-misc {
    width: 50%;
  }
}
main div h1.titles-pag hr.separador {
  width: 30px;
  height: 3px;
  background-color: #161616;
  display: inline-block;
  /* Correcciones de bootstrap */
  opacity: 100%;
  margin: 0;
}

/* Mapas */
/* Extends */
main.main-error, main section.grid-container-sobremi div.sector4 p, main section.grid-container-sobremi div.sector2 {
  display: flex;
  justify-content: center;
}

/* Mixins */
/* Importo secciones */
/* HEADER */
/* Importo mapas */
/* Mapas */
header {
  height: 5em;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  position: sticky;
  top: 0;
  /* Sin el z-index, al aplicar transform el efecto "pisa" el header */
  z-index: 2;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 10px #00000012;
}
header div {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
header div a .tamaño-logo {
  /* Tamaño logo */
  margin: 1em 0 1em 1em;
  width: 8em;
  display: inline-block;
}
@media only screen and (max-width: 968px) {
  header div a .tamaño-logo {
    width: 6em;
  }
}
header div input {
  display: none;
}
header div label {
  /* Oculto menu hamb en desktop */
  display: none;
}
@media only screen and (max-width: 968px) {
  header div label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #facd49;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
  }
}
@media only screen and (max-width: 968px) {
  header div #menu-hamb:checked ~ .nav-menu {
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    /* Corrijo BS */
    padding-left: 0;
  }
  header div #menu-hamb:checked ~ .nav-menu li {
    display: flex;
  }
  header div #menu-hamb:checked ~ .nav-menu li a {
    color: white;
    display: flex;
    font-weight: 700;
  }
  header div #menu-hamb:checked ~ .nav-menu li a:hover {
    color: #facd49;
    border-bottom: none;
  }
}
header div .nav-menu {
  margin-bottom: 0;
}
@media only screen and (max-width: 968px) {
  header div .nav-menu {
    position: fixed;
    top: 5em;
    left: 0;
    height: 0vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
  }
}
header div .nav-menu li {
  /* Fuerzo la horizontalidad */
  display: inline-block;
}
@media only screen and (max-width: 968px) {
  header div .nav-menu li {
    display: none;
    font-size: 1.2em;
    line-height: 2em;
    margin: 1em 0;
    transition: all 0.5s;
  }
}
header div .nav-menu li a {
  color: #161616;
  border-bottom: 0px solid #facd49;
  /* Separación inter-links */
  margin: 0 1.5em;
}
@media only screen and (max-width: 968px) {
  header div .nav-menu li a {
    display: none;
  }
}
header div .nav-menu li a:hover {
  /* Hover links navbar */
  color: #facd49;
  border-bottom: 1.5px solid #facd49;
}
header div .nav-menu li a.active-page {
  /* Destaco la página activa */
  color: #facd49;
}

/* FIN HEADER */
/* Footer */
footer {
  position: relative;
  bottom: 0;
  margin: 0 0 10px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
footer div a svg {
  margin: 0.75em 0.75em;
  height: 1.8em;
  border-bottom: 1.5px solid transparent;
}
footer div a svg:hover {
  margin: 0.75em 0.75em;
  height: 1.8em;
  border-bottom: 1.5px solid #facd49;
}
footer p.p-footer {
  font-size: 0.75em;
}
footer p.p-footer::after {
  content: "™";
  opacity: 0;
  transition: all 0.5s ease-in;
}
footer p.p-footer:hover::after {
  opacity: 100%;
}

/* Fin Footer */
/* Importo variables */
/* Tamaño imágenes */
/* Mixins */
/* Mapas */
/* Inicio Index */
main.main-carrousel {
  margin: 4em 0;
  min-height: 550px;
  display: flex;
  justify-content: center;
  /* Contenedor del carrousel múltiple, necesario para el plugin swiper */
  /* Bullet container del slider */
  /* Bullet */
  /* Botones, descomentar para activar */
  /* #btn-swp-left {
          position: absolute;
          left: -1em;
          top: 45%;

          @media only screen and (max-width: 968px) {
              display: none;
          }

          &:after {
              content: "\25B2";
              color: map-get($colors, secondary);
              transform: scale(0.4);
              margin-right: 1em;

          }
      }

      #btn-swp-right {
          position: absolute;
          left: -1em;
          top: 55%;

          @media only screen and (max-width: 968px) {
              display: none;
          }

          &:after {
              content: "\25BC";
              color: map-get($colors, secondary);
              transform: scale(0.4);
              margin-right: 1em;
          }
      } */
  /* Estilo de cada slider (son 4, uno por columna) */
}
@media only screen and (max-width: 968px) {
  main.main-carrousel {
    margin: 6em 0;
  }
}
main.main-carrousel .carrousels {
  overflow: visible;
  margin-top: 2em;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 2em;
  align-self: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 748px) {
  main.main-carrousel .carrousels .icon-scroll,
main.main-carrousel .carrousels .icon-scroll:before {
    position: absolute;
    left: 50%;
    top: -3%;
  }
  main.main-carrousel .carrousels .icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #facd49;
    border-radius: 25px;
  }
  main.main-carrousel .carrousels .icon-scroll:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #facd49;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(46px);
    }
  }
}
@media only screen and (max-width: 1199px) {
  main.main-carrousel .carrousels {
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  main.main-carrousel .carrousels {
    width: 85%;
  }
}
main.main-carrousel .swiper-pagination {
  position: absolute;
  left: -4em;
  top: 50%;
  /* Lo oculto en mobile */
}
@media (max-width: 600px) {
  main.main-carrousel .swiper-pagination {
    display: none;
  }
}
main.main-carrousel .swiper-pagination-bullet {
  background: #161616;
  width: 0.15em;
  height: 4em;
  margin-top: -0.4em;
  border-radius: 0;
  color: #161616;
  transition: opacity 1s ease;
  display: flex;
  align-items: center;
}
main.main-carrousel .swiper-pagination-bullet span {
  margin-left: 0.8em;
  font-family: "PT Mono", monospace;
  font-size: 0.8em;
}
main.main-carrousel .mySwiper {
  height: 550px;
  width: 400px;
  border-radius: 0.2em;
  cursor: crosshair;
}
main.main-carrousel .mySwiper .sone {
  transition-delay: 0.1s;
}
main.main-carrousel .mySwiper .stwo {
  transition-delay: 0.2s;
}
main.main-carrousel .mySwiper .sthr {
  transition-delay: 0.3s;
}
main.main-carrousel .mySwiper .sfou {
  transition-delay: 0.4s;
}
@media screen and (min-width: 1200px) and (max-width: 1650px) {
  main.main-carrousel .mySwiper {
    height: 495px;
    width: 300px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1199px) {
  main.main-carrousel .mySwiper {
    height: 440px;
    width: 280px;
  }
}
@media screen and (max-width: 600px) {
  main.main-carrousel .mySwiper {
    height: 385px;
    width: 280px;
    /* Todo esto podría ser calculado como= valorInicial * 0.7 , pero ya loo habia armado así, queda como aprendizaje */
  }
}
main.main-carrousel .mySwiper .swiper-wrapper img {
  height: 100%;
  object-fit: cover;
  transition: all 1.75s cubic-bezier(0.23, 0.84, 0.35, 0.96);
}
main.main-carrousel .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-active, main.main-carrousel .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-duplicate-active {
  transform: scale3d(1.15, 1.15, 1.15);
  -webkit-transform: scale3d(1.15, 1.15, 1.15);
  -o-transform: scale3d(1.15, 1.15, 1.15);
  -moz-transform: scale3d(1.15, 1.15, 1.15);
  -ms-transform: scale3d(1.15, 1.15, 1.15);
}

/* Fin Index */
/* Inicio Sección Portfolio */
/* Mapas */
main section.section-portfolio {
  margin: 2em 0;
  justify-content: center;
  align-items: center;
  gap: 2em;
  /* Ordeno en filas, prodría hacerlo con grid, pero prefiero mixear para practicar*/
}
main section.section-portfolio div.filas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section.section-portfolio div.filas article {
  position: relative;
  /* Tamaño de imagen, pre sass */
}
main section.section-portfolio div.filas article img {
  width: 545px;
  height: 560px;
  object-fit: cover;
  border-radius: 0.2em;
}
main section.section-portfolio div.filas article img.pro1, main section.section-portfolio div.filas article img.pro2, main section.section-portfolio div.filas article img.pro3, main section.section-portfolio div.filas article img.pro4, main section.section-portfolio div.filas article img.pro5, main section.section-portfolio div.filas article img.pro6 {
  /* Hover de imagenes */
}
main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro6 {
  filter: opacity(100%);
}
@media only screen and (max-width: 480px) {
  main section.section-portfolio div.filas article img {
    width: 380px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  main section.section-portfolio div.filas article img {
    width: 360px;
  }
}
main section.section-portfolio div.filas article div.div-pro1, main section.section-portfolio div.filas article div.div-pro2, main section.section-portfolio div.filas article div.div-pro3, main section.section-portfolio div.filas article div.div-pro4, main section.section-portfolio div.filas article div.div-pro5, main section.section-portfolio div.filas article div.div-pro6 {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 3em;
  background-color: white;
  padding: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  filter: opacity(0%);
  /* Más ajustes del hover */
}
main section.section-portfolio div.filas article div.div-pro1:hover, main section.section-portfolio div.filas article div.div-pro2:hover, main section.section-portfolio div.filas article div.div-pro3:hover, main section.section-portfolio div.filas article div.div-pro4:hover, main section.section-portfolio div.filas article div.div-pro5:hover, main section.section-portfolio div.filas article div.div-pro6:hover {
  filter: opacity(100%);
}
main section.section-portfolio div.filas article div.div-pro1 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro2 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro3 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro4 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro5 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro6 h3.title-proyect {
  color: #161616;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 0 1em 1em;
}
main section.section-portfolio div.filas article div.div-pro1 a.a-proyect, main section.section-portfolio div.filas article div.div-pro2 a.a-proyect, main section.section-portfolio div.filas article div.div-pro3 a.a-proyect, main section.section-portfolio div.filas article div.div-pro4 a.a-proyect, main section.section-portfolio div.filas article div.div-pro5 a.a-proyect, main section.section-portfolio div.filas article div.div-pro6 a.a-proyect {
  width: 50%;
  font-size: 0.9em;
  color: #161616;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 1em;
  transition: all 0.5s;
  /* Agrego "miscelaneas" antes del texto */
}
main section.section-portfolio div.filas article div.div-pro1 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro2 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro3 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro4 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro5 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro6 a.a-proyect:hover {
  margin-right: 0.15em;
  letter-spacing: 0.065em;
}
main section.section-portfolio div.filas article div.div-pro1 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro2 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro3 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro4 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro5 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro6 a.a-proyect::before {
  content: "►";
  color: #161616;
  transition: all 0.5s;
}

/* Fin Sección Portfolio */
/* Inicio Clientes */
main.main-clientes section div {
  /* Aplico filtros */
  /* Bordes al hacer hover */
}
main.main-clientes section div .grayscale-filter {
  filter: grayscale(100%);
  transition: all 0.5s;
  /* y se lo saco en hover */
}
main.main-clientes section div .grayscale-filter:hover {
  filter: none;
}
main.main-clientes section div .border-rnd {
  transition: all 0.5s;
  border-radius: 5px;
  border: 1px solid white;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  main.main-clientes section div .border-rnd {
    border: 1px solid transparent;
  }
}
main.main-clientes section div .border-rnd:hover {
  border: 1px solid #505050;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  main.main-clientes section div .border-rnd:hover {
    border: 1px solid transparent;
  }
}
main.main-clientes section div .opacity-filter {
  transition: all 0.5s;
  filter: opacity(70%);
}
main.main-clientes section div .opacity-filter:hover {
  filter: none;
}
main.main-clientes section div img {
  display: block;
  max-height: 10em;
  max-width: 15em;
  margin: 1em 2em;
}

/* Fin Clientes */
/* Inicio Sección SobreMi */
/* Importo mapas / extends */
/* Mapas */
/* Extends */
main.main-error, main section.grid-container-sobremi div.sector4 p, main section.grid-container-sobremi div.sector2 {
  display: flex;
  justify-content: center;
}

/* Mixins */
main section.grid-container-sobremi {
  align-self: center;
  width: 60%;
  display: grid;
  grid-template: 3fr 1fr/1fr 1fr;
  row-gap: 5em;
  /* Mucha mq en este scss */
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi {
    width: 100%;
    grid-template: 1fr/1fr;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi {
    align-self: center;
    width: 95%;
    display: grid;
    grid-template: 1fr/1fr;
    row-gap: 3em;
  }
}
main section.grid-container-sobremi div {
  /* El div está dividido en una grilla, con 4 sectores */
  /* Aplicando extend */
}
main section.grid-container-sobremi div.sector1 figcaption {
  margin-top: 0.5em;
  opacity: 0%;
  transition: all 2s ease;
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector1 figcaption {
    display: none;
  }
}
@media only screen and (min-width: 968px) {
  main section.grid-container-sobremi div.sector1:hover figcaption {
    opacity: 100%;
  }
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector1 {
    display: flex;
    justify-content: center;
  }
}
main section.grid-container-sobremi div.sector2 {
  flex-flow: column nowrap;
}
main section.grid-container-sobremi div.sector2 .selfie {
  align-self: center;
  width: 20em;
  height: 20em;
  border-radius: 20em;
  margin: 0 0 2em 0;
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector2 .selfie {
    align-self: center;
    width: 15em;
    height: 15em;
    border-radius: 15em;
    margin: 0 0 2em 0;
  }
}
main section.grid-container-sobremi div.sector2 .epigrafe {
  align-self: center;
  max-width: 80%;
  line-height: 1.5em;
  color: #505050;
  font-weight: 500;
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector2 .epigrafe {
    max-width: 90%;
  }
}
main section.grid-container-sobremi div.sector3 figcaption {
  margin-top: 0.5em;
  opacity: 0%;
  transition: all 2s ease;
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector3 figcaption {
    display: none;
  }
}
@media only screen and (min-width: 968px) {
  main section.grid-container-sobremi div.sector3:hover figcaption {
    opacity: 100%;
  }
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi div.sector3 {
    display: flex;
    justify-content: center;
    margin: 3em 0 -1em 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector3 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}
main section.grid-container-sobremi div.sector4 {
  font-weight: 300;
  font-size: 1.5em;
  text-transform: lowercase;
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
  align-items: flex-start;
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi div.sector4 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector4 {
    margin-top: 2em;
  }
}
main section.grid-container-sobremi div.sector4 p {
  flex-flow: column wrap;
  list-style: none;
  line-height: 2em;
  margin: 0 1em;
  transition: all 0.5s;
  user-select: none;
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi div.sector4 p {
    line-height: 5em;
  }
}
main section.grid-container-sobremi div.sector4 p:nth-child(1) {
  animation: up-colored 2s ease 0s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(2) {
  animation: up-colored 2s ease 2s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(3) {
  animation: up-colored 2s ease 4s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(4) {
  animation: up-colored 2s ease 6s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(-n+4):hover {
  color: #facd49;
  transform: translateY(-1em);
  -webkit-transform: translateY(-1em);
  -o-transform: translateY(-1em);
  -moz-transform: translateY(-1em);
  -ms-transform: translateY(-1em);
}
@keyframes up-colored {
  0% {
    color: #161616;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  50% {
    color: #facd49;
    transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -moz-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
  }
  100% {
    color: #161616;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector4 p {
    line-height: 1.5em;
  }
}

/* Fin Sección SobreMi */
/* Contacto - Media Queries */
/* Menos ganas de laburar que el diseñador de la bandera de Japón */
@media only screen and (max-width: 480px) {
  main section.ancho-formulario {
    width: 90%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.ancho-formulario {
    width: 75%;
  }
}
@media only screen and (min-width: 968px) {
  main section.ancho-formulario {
    width: 50%;
  }
}

/* Fin Contacto */
/* Página 404 */
/* Extends */
main.main-error, main section.grid-container-sobremi div.sector2, main section.grid-container-sobremi div.sector4 p {
  display: flex;
  justify-content: center;
}

/* Mapas */
/* Mixins */
main.main-error {
  min-width: 360px;
  margin: 0;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
}
main.main-error div h1.typing {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4em;
  color: #facd49;
  overflow: hidden;
  border-right: 0.15em solid #facd49;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: blink 0.75s step-end infinite;
}
@media screen and (max-width: 967px) {
  main.main-error div h1.typing {
    font-size: 2.5em;
  }
}
main.main-error p {
  font-size: 1.5em;
  margin: 2em 0;
}
@media screen and (max-width: 967px) {
  main.main-error p {
    font-size: 1.4em;
  }
}
main.main-error a {
  display: block;
  font-weight: 500;
  background-color: white;
  padding: 0.6em;
  margin: 2em 0;
  height: 2em;
  width: 8em;
  animation: return 3s linear 3s infinite;
  overflow: hidden;
  border-radius: 0.3em;
}
main.main-error a:after {
  content: "Volver al inicio _";
  height: 94%;
  width: 94%;
  position: absolute;
  border-radius: 0.2em;
  top: 3%;
  left: 3%;
  color: #161616;
  background-color: white;
  display: grid;
  place-items: center;
  font-size: 1em;
}
main.main-error a:before {
  content: "";
  background-image: conic-gradient(#facd49 0deg, #facd49 360deg);
  height: 20%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  animation: spin 4s infinite linear;
}
main.main-error img {
  position: absolute;
  bottom: 2em;
  width: 5em;
  margin: 3em 0 0 0;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #161616;
  }
}
@keyframes return {
  from, to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  50% {
    transform: translateY(-0.15em);
    -webkit-transform: translateY(-0.15em);
    -o-transform: translateY(-0.15em);
    -moz-transform: translateY(-0.15em);
    -ms-transform: translateY(-0.15em);
  }
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=style.css.map */
