@charset "UTF-8";
/* Importo fuentes de G Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
/* Importo reglas generales */
/* ALGUNAS REGLAS GENERALES */
/* Mapas */
/* Reset margin y padding */
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #facd49;
  border-radius: 0.3em;
  border-right: 2px solid white;
}

/* Refuerzo especifidad por BS */
a {
  text-decoration: none;
}

/* "Aire" vertical */
main {
  margin: 6em 0;
}

/* Clase para centrar cosas */
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

/* Formato de Titulos */
h1,
h2 {
  font-weight: 400;
  font-size: 40px;
  text-transform: lowercase;
  margin-bottom: 10px;
}

/* Formato de títulos */
main div.title-misc {
  margin-bottom: 3em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media only screen and (max-width: 480px) {
  main div.title-misc {
    width: 50%;
  }
}
main div h1.titles-pag hr.separador {
  width: 30px;
  height: 3px;
  background-color: #161616;
  display: inline-block;
  /* Correcciones de bootstrap */
  opacity: 100%;
  margin: 0;
}

/* Mapas */
/* Extends */
main section.grid-container-sobremi div.sector4 p, main section.grid-container-sobremi div.sector2 {
  display: flex;
  justify-content: center;
}

/* Mixins */
/* Importo secciones */
/* HEADER */
/* Importo mapas */
/* Mapas */
header {
  height: 5em;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  position: sticky;
  top: 0;
  /* Sin el z-index, al aplicar transform el efecto "pisa" el header */
  z-index: 2;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 10px #00000012;
}
header div {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
header div a .tamaño-logo {
  /* Tamaño logo */
  margin: 1em 0 1em 1em;
  width: 8em;
  display: inline-block;
}
@media only screen and (max-width: 968px) {
  header div a .tamaño-logo {
    width: 6em;
  }
}
header div input {
  display: none;
}
header div label {
  /* Oculto menu hamb en desktop */
  display: none;
}
@media only screen and (max-width: 968px) {
  header div label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #facd49;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
  }
}
@media only screen and (max-width: 968px) {
  header div #menu-hamb:checked ~ .nav-menu {
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    /* Corrijo BS */
    padding-left: 0;
  }
  header div #menu-hamb:checked ~ .nav-menu li {
    display: flex;
  }
  header div #menu-hamb:checked ~ .nav-menu li a {
    color: white;
    display: flex;
    font-weight: 700;
  }
  header div #menu-hamb:checked ~ .nav-menu li a:hover {
    color: #facd49;
    border-bottom: none;
  }
}
header div .nav-menu {
  margin-bottom: 0;
}
@media only screen and (max-width: 968px) {
  header div .nav-menu {
    position: fixed;
    top: 5em;
    left: 0;
    height: 0vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
  }
}
header div .nav-menu li {
  /* Fuerzo la horizontalidad */
  display: inline-block;
}
@media only screen and (max-width: 968px) {
  header div .nav-menu li {
    display: none;
    font-size: 1.2em;
    line-height: 2em;
    margin: 1em 0;
    transition: all 0.5s;
  }
}
header div .nav-menu li a {
  color: #161616;
  border-bottom: 0px solid #facd49;
  /* Separación inter-links */
  margin: 0 1.5em;
}
@media only screen and (max-width: 968px) {
  header div .nav-menu li a {
    display: none;
  }
}
header div .nav-menu li a:hover {
  /* Hover links navbar */
  color: #facd49;
  border-bottom: 1.5px solid #facd49;
}
header div .nav-menu li a.active-page {
  /* Destaco la página activa */
  color: #facd49;
}

/* FIN HEADER */
/* Footer */
footer {
  position: relative;
  bottom: 0;
  margin: 0 0 10px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
footer div a svg {
  margin: 0.75em 0.75em;
  height: 1.8em;
  border-bottom: 1.5px solid transparent;
}
footer div a svg:hover {
  margin: 0.75em 0.75em;
  height: 1.8em;
  border-bottom: 1.5px solid #facd49;
}
footer p.p-footer {
  font-size: 0.75em;
}
footer p.p-footer::after {
  content: "™";
  opacity: 0;
  transition: all 0.5s ease-in;
}
footer p.p-footer:hover::after {
  opacity: 100%;
}

/* Fin Footer */
/* Importo variables */
/* Tamaño imágenes */
/* Mixins */
/* Inicio Index */
main.main-carrousel {
  margin: 4em 0;
  min-height: 550px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 968px) {
  main.main-carrousel {
    margin: 6em 0;
  }
}
main.main-carrousel .carrousel {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 2em;
  align-self: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 968px) {
  main.main-carrousel .carrousel {
    width: 95%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  main.main-carrousel .carrousel {
    width: 95%;
  }
}
main.main-carrousel .carrousel img {
  height: 550px;
  transition: all 0.5s;
  cursor: crosshair;
}
main.main-carrousel .carrousel img:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
}
@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  main.main-carrousel .carrousel img {
    height: 420px;
  }
}
@media only screen and (min-width: 1450px) and (max-width: 1650px) {
  main.main-carrousel .carrousel img {
    height: 450px;
  }
}

/* Fin Index */
/* Inicio Sección Portfolio */
/* Mapas */
main section.section-portfolio {
  margin: 2em 0;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section.section-portfolio div.filas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section.section-portfolio div.filas article {
  position: relative;
}
main section.section-portfolio div.filas article img {
  width: 545px;
  height: 560px;
  object-fit: cover;
}
main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro1:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro2:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro3:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro4:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro5:hover ~ .div-pro6, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro1, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro2, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro3, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro4, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro5, main section.section-portfolio div.filas article img.pro6:hover ~ .div-pro6 {
  filter: opacity(100%);
}
@media only screen and (max-width: 480px) {
  main section.section-portfolio div.filas article img {
    width: 380px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  main section.section-portfolio div.filas article img {
    width: 360px;
  }
}
main section.section-portfolio div.filas article div.div-pro1, main section.section-portfolio div.filas article div.div-pro2, main section.section-portfolio div.filas article div.div-pro3, main section.section-portfolio div.filas article div.div-pro4, main section.section-portfolio div.filas article div.div-pro5, main section.section-portfolio div.filas article div.div-pro6 {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 3em;
  background-color: white;
  padding: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  transition: all 0.25s;
  filter: opacity(0%);
}
main section.section-portfolio div.filas article div.div-pro1:hover, main section.section-portfolio div.filas article div.div-pro2:hover, main section.section-portfolio div.filas article div.div-pro3:hover, main section.section-portfolio div.filas article div.div-pro4:hover, main section.section-portfolio div.filas article div.div-pro5:hover, main section.section-portfolio div.filas article div.div-pro6:hover {
  filter: opacity(100%);
}
main section.section-portfolio div.filas article div.div-pro1 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro2 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro3 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro4 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro5 h3.title-proyect, main section.section-portfolio div.filas article div.div-pro6 h3.title-proyect {
  color: #161616;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 0 1em 1em;
}
main section.section-portfolio div.filas article div.div-pro1 a.a-proyect, main section.section-portfolio div.filas article div.div-pro2 a.a-proyect, main section.section-portfolio div.filas article div.div-pro3 a.a-proyect, main section.section-portfolio div.filas article div.div-pro4 a.a-proyect, main section.section-portfolio div.filas article div.div-pro5 a.a-proyect, main section.section-portfolio div.filas article div.div-pro6 a.a-proyect {
  width: 50%;
  font-size: 0.9em;
  color: #161616;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 1em;
  transition: all 0.5s;
}
main section.section-portfolio div.filas article div.div-pro1 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro2 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro3 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro4 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro5 a.a-proyect:hover, main section.section-portfolio div.filas article div.div-pro6 a.a-proyect:hover {
  margin-right: 0.15em;
  letter-spacing: 0.08em;
}
main section.section-portfolio div.filas article div.div-pro1 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro2 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro3 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro4 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro5 a.a-proyect::before, main section.section-portfolio div.filas article div.div-pro6 a.a-proyect::before {
  content: "►";
  color: #161616;
  transition: all 0.5s;
}

/* Fin Sección Portfolio */
/* Inicio Clientes */
main.main-clientes section div .grayscale-filter {
  filter: grayscale(100%);
  transition: all 0.5s;
}
main.main-clientes section div .grayscale-filter:hover {
  filter: none;
}
main.main-clientes section div .opacity-filter {
  transition: all 0.5s;
  filter: opacity(75%);
}
main.main-clientes section div .opacity-filter:hover {
  filter: none;
}
main.main-clientes section div img {
  display: block;
  max-height: 10em;
  max-width: 15em;
  margin: 1em 2em;
}

/* Fin Clientes */
/* Inicio Sección SobreMi */
/* Importo mapas / extends */
/* Mapas */
/* Extends */
main section.grid-container-sobremi div.sector4 p, main section.grid-container-sobremi div.sector2 {
  display: flex;
  justify-content: center;
}

/* Mixins */
main section.grid-container-sobremi {
  align-self: center;
  width: 60%;
  display: grid;
  grid-template: 3fr 1fr/1fr 1fr;
  row-gap: 5em;
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi {
    width: 100%;
    grid-template: 1fr/1fr;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi {
    align-self: center;
    width: 95%;
    display: grid;
    grid-template: 1fr/1fr;
    row-gap: 3em;
  }
}
main section.grid-container-sobremi div.sector1 figcaption {
  margin-top: 0.5em;
  opacity: 0%;
  transition: all 2s ease;
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector1 figcaption {
    display: none;
  }
}
@media only screen and (min-width: 968px) {
  main section.grid-container-sobremi div.sector1:hover figcaption {
    opacity: 100%;
  }
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector1 {
    display: flex;
    justify-content: center;
  }
}
main section.grid-container-sobremi div.sector2 {
  flex-flow: column nowrap;
}
main section.grid-container-sobremi div.sector2 .selfie {
  align-self: center;
  width: 20em;
  height: 20em;
  border-radius: 20em;
  margin: 0 0 2em 0;
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector2 .selfie {
    align-self: center;
    width: 15em;
    height: 15em;
    border-radius: 15em;
    margin: 0 0 2em 0;
  }
}
main section.grid-container-sobremi div.sector2 .epigrafe {
  align-self: center;
  max-width: 80%;
  line-height: 1.5em;
  color: #505050;
  font-weight: 500;
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector2 .epigrafe {
    max-width: 90%;
  }
}
main section.grid-container-sobremi div.sector3 figcaption {
  margin-top: 0.5em;
  opacity: 0%;
  transition: all 2s ease;
}
@media only screen and (max-width: 967px) {
  main section.grid-container-sobremi div.sector3 figcaption {
    display: none;
  }
}
@media only screen and (min-width: 968px) {
  main section.grid-container-sobremi div.sector3:hover figcaption {
    opacity: 100%;
  }
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi div.sector3 {
    display: flex;
    justify-content: center;
    margin: 3em 0 -1em 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector3 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}
main section.grid-container-sobremi div.sector4 {
  font-weight: 300;
  font-size: 1.5em;
  text-transform: lowercase;
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
  align-items: flex-start;
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi div.sector4 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector4 {
    margin-top: 2em;
  }
}
main section.grid-container-sobremi div.sector4 p {
  flex-flow: column wrap;
  list-style: none;
  line-height: 2em;
  margin: 0 1em;
  transition: all 0.5s;
  user-select: none;
}
@media only screen and (max-width: 480px) {
  main section.grid-container-sobremi div.sector4 p {
    line-height: 5em;
  }
}
main section.grid-container-sobremi div.sector4 p:nth-child(1) {
  animation: up-colored 2s ease 0s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(2) {
  animation: up-colored 2s ease 2s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(3) {
  animation: up-colored 2s ease 4s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(4) {
  animation: up-colored 2s ease 6s;
}
main section.grid-container-sobremi div.sector4 p:nth-child(-n+4):hover {
  color: #facd49;
  transform: translateY(-1em);
  -webkit-transform: translateY(-1em);
  -o-transform: translateY(-1em);
  -moz-transform: translateY(-1em);
  -ms-transform: translateY(-1em);
}
@keyframes up-colored {
  0% {
    color: #161616;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  50% {
    color: #facd49;
    transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -moz-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
  }
  100% {
    color: #161616;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.grid-container-sobremi div.sector4 p {
    line-height: 1.5em;
  }
}

/* Fin Sección SobreMi */
/* Contacto - Media Queries */
@media only screen and (max-width: 480px) {
  main section.ancho-formulario {
    width: 90%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 967px) {
  main section.ancho-formulario {
    width: 75%;
  }
}
@media only screen and (min-width: 968px) {
  main section.ancho-formulario {
    width: 50%;
  }
}

/* Fin Contacto */

/*# sourceMappingURL=style.css.map */
