/* ALGUNAS REGLAS GENERALES */
@import '../base/mapas';
/* Reset margin y padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

/* Scrollbar */
body {
    &::-webkit-scrollbar {
        width: .5em;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: map-get($colors, primary);
        border-radius: .3em;        
        border-right: 2px solid map-get($colors, backgrounds);
    }
}

/* Refuerzo especifidad por BS */
a {
    text-decoration: none;
}

/* "Aire" vertical */
main {
    margin: 6em 0;
}

/* Clase para centrar cosas */
.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

/* Formato de Titulos */
h1,
h2 {
    font-weight: 400;
    font-size: 40px;
    text-transform: lowercase;
    margin-bottom: 10px;
}

/* Formato de títulos */
main {
    div {
        &.title-misc {
            margin-bottom: 3em;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            @media only screen and (max-width: 480px) {
                width: 50%;
            }
        }

        h1 {
            &.titles-pag {
                hr {
                    &.separador {
                        width: 30px;
                        height: 3px;
                        background-color: map-get($colors, secondary);
                        display: inline-block;
                        /* Correcciones de bootstrap */
                        opacity: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}